
# Database
DATABASE__NAME=database_name
DATABASE__PASSWORD=database_password
DATABASE__HOST=localhost
DATABASE__PORT=5432
DATABASE__USER=database_user

# Cache
CACHE_LOCATION=redis://127.0.0.1:6379/1


# Celery
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_BROKER_URL=redis://localhost:6379/1